//  Common Color
$white: #fff;
$black: #333;

// Theme Color

$primary_color:#f90d9e;
$btn_hover: #333;
$text_color: #333;
$link_color: #333;
$bg_gray:#f2f2f2;

$btn_bg: #f90d9e;
$border_color: #f90d9e;


